.cartPage{
  margin: 40px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Breite Grotesk Regular";
  letter-spacing: 0.5px;
}

.orderSummary{
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 10px;
  width: 20vw;
  height: fit-content;
}

.orderSummaryHeading{
  font-size: 25px;
  margin-bottom: 20px;
}

.itemCntDiv{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.itemCntTotal,.orderTotalPrice,.qtyNum,.price{
  font-family: sans-serif;

}

.orderTotalDiv{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px;
  font-size: 20px;
  font-weight: 700;
}

.checkoutBtn{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(248, 197, 15);
  border-radius: 5px;
  border: 1px solid transparent;  

}

.checkoutBtn:hover{
  background-color: rgb(243, 206, 73);
  position: relative;
  bottom: 2px;
}


.cartContainer{
  background-color: #fff;
  width: 55vw;
  padding: 30px 50px;
  border-radius: 10px;
  height: fit-content;
}

.cartHeading{
  margin: 0px 0px 10px 0px;
}

.itemInfoCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemWrapper{
  display: flex;
}

.itemImg{
  height: 100px;
  width: 100px ;
  /* border: 1px solid rgb(170, 170, 170); */
  margin: 10px 0px;
}

.itemInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;

}

.quantityAdjuster{
  /* max-width: 250px; */
  width: fit-content;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qtyBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0px;
  background-color: #e0e0e0;
  border: 1px solid transparent;  

}

.icons{
  height: 12px;
  width: 12px;
}

.deleteBtn{
  background-color: transparent;
  border: 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(26, 70, 228);
  border: 1px solid transparent;  
}

.deleteIcon{
  color: #1a46e4;
  height: 15px; 
}

.deleteBtn:hover{
  cursor: pointer;
}

.shadow{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  background-color: #3d3d3d48;
  display: flex;
  justify-content: center;
}

.purchaseConfirm{
  background-color: #fff;
  position: absolute;
  max-width: 400px;
  width: fit-content;
  margin: 300px auto;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 30px;
  border-radius: 5px;
}

.checkIcon{
  height: 50px;
}

.message{
  text-align: center;
}

.total{
  margin: 10px 0px;
}

.closeBtn{
  background-color: rgb(26, 70, 228);
  color: white;
  padding: 10px;
  font-size: large;
}

.closeBtn:hover{
  position: relative;
  bottom: 2px;
}

