/* write your code here  */
@font-face{
    font-family: "MonumentExtended-Regular";
    src: url("fonts/MonumentExtended-Regular.otf");
}

@font-face{
    font-family: "MonumentExtended-Ultrabold";
    src: url("fonts/MonumentExtended-Ultrabold.otf");
}

@font-face{
    font-family: "SolidenTrial-BoldExpanded";
    src: url("fonts/SolidenTrial-BoldExpanded.ttf");
}

@font-face{
    font-family: "SolidenTrial-Expanded";
    src: url("fonts/SolidenTrial-Expanded.ttf");
}

@font-face{
    font-family: "SolidenTrial-Regular";
    src: url("fonts/SolidenTrial-Regular.ttf");
}

/* width */
::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grab;
}


body{
    margin: 0px;
    background-color: #1b1b1b;
    color: white;
}

h1{
    margin: 0px;
}

.navbar-section{
    margin-top: 0px;
    margin-bottom: 70px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.navbar-container{
    margin: 0px 40px;
    padding: 20px 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#navbar-name{
    font-family: "MonumentExtended-Ultrabold";
    letter-spacing: 2px;
    line-height: 120%;
    font-size: 50px;
    position: relative;
    top: 7px;
    cursor: pointer;
}

#navbar-btn{
    padding: 18px 45px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 25px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
}

#navbar-btn:hover{
    background-color: #e7e7e7;
    position: relative;
    bottom: 2px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.main-section{
    margin: 70px 0px;
}

.main-container{
    margin: auto;
    max-width: 1056px;
}

.add-course-form{
    position: fixed;
    inset-area: center;
    display: flex;
    flex-direction: column;
    width: 548px;
    margin: auto;
    border: 2px solid white;
    padding: 30px;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 25px rgb(103, 103, 103);
    border-radius: 12px;
    z-index: 10;
}

.edit-course-form{
    position: fixed;
    inset-area: center;
    display: flex;
    flex-direction: column;
    width: 548px;
    margin: auto;
    border: 2px solid white;
    padding: 30px;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 25px rgb(103, 103, 103);
    border-radius: 12px;
    z-index: 10;
}

.form-heading{
    margin: 0px auto;
    margin-bottom: 35px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 37px;
}

.form-close-btn{
    position: relative;
    left: 50px;
    background-color: transparent;
    border: 0px;
}

.content-div{
    display: flex;
    justify-content: space-between;
}

.start-options{
    margin-top: 150px;
    padding: 20px 60px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 40px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
}

#sign-form-img{
    height: 640px;
    width: 490px;
    object-fit: cover;
    object-position: 60% 55%;
    border-radius: 12px;
}

#sign-form{
    display: flex;
    flex-direction: column;
    width: 386px;
    padding: 70px 0px;
}

#sign-heading{
    margin: 0px auto;
    margin-bottom: 45px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 27px;
}

.form-input{
    background-color: transparent;
    border: 1px solid white;
    font-family: "Raleway";
    border-radius: 5px;
    font-size: 22px;
    padding: 13px 16px;
    color: white;
    margin: 20px 0px;
    letter-spacing: 1px;
    font-weight:400;
}

.form-input::placeholder{
    color: rgb(197, 197, 197);
}

.large-input{
    resize: none;
    overflow: auto;
    height: 10rem;
}

#form-btn{
    margin-top: 50px;
    padding: 22px 50px;
    font-family: "SolidenTrial-BoldExpanded";
    color: black;
    font-size: 28px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
    text-align: center;
}

#form-btn:hover{
    background-color: #e7e7e7;
    position: relative;
    bottom: 2px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#courses-div{
    padding: 0px 7px;
    width: 100%;
}

.courses-head-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.courses-heading{
    font-family: "MonumentExtended-Ultrabold";
    font-size: 47px;
    letter-spacing: 4px;
    position: relative;
    top: 10px;
}

.add-course-btn{
    padding: 18px 36px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 23px;
}

.bought-course-btn{
    padding: 18px 36px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 23px;
}

.all-course-btn{
    padding: 18px 36px;
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 23px;
}

.course-cards-div{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 91px;
}

.course-card{
    width: 472px;
    border: 1px solid white;
    border-radius: 12px;
}

.card-img{
    height: 210px;
    width: 472px;
    object-fit: cover;
    border-radius: 14px 14px 0px 0px;
    object-position: 50% 60%;
}

.card-info-div{
    padding: 0px 26px 26px 26px;
}

.card-heading{
    font-family:  "MonumentExtended-Regular";
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    line-height: 150%;
}

.author{
    font-family: "SolidenTrial-BoldExpanded";
    letter-spacing: 0.5px;
    line-height: 150%;
    margin: 5px 0px;
    color: rgba(255, 255, 255, 0.601);
}

.card-desc{
    font-family: "SolidenTrial-Expanded";
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 30px;
}

.card-cta{
    display: flex;
    justify-content: space-between;
}

.course-price{
    padding: 17px;
    border: 1.5px solid white;
    font-family: "MonumentExtended-Regular";
    border-radius: 3px;
    font-size: 19px;
    margin: 0px;
}

.course-cta{
    font-family: "SolidenTrial-BoldExpanded";
    font-size: 26px;
    padding: 13px 23px;
    line-height: 30px;
}

button{
    cursor: pointer;
}

.hidden{
    display: none;
}
